.marketing,
.mercado {
  background-image: url('/images/bg/bg-fundo.png');
  background-repeat: no-repeat;
  background-size: cover;


  position: relative;
  font-family: $font-family;

  .grid {
    @include media(md) {
      display: grid;
      grid-template-columns: 1fr 2.3fr;
      gap: 55px;

    }

    .gridCard {
      display: grid;
      gap: 31px;
      height: 100;
      max-width: 1200px;
      padding: 15px;

      @include media(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        height: 100vh;
        padding: 0;
      }

      .card {
        background-color: $primary-lingh-color;
        padding: 20px;
        border-radius: 20px;
        box-shadow: -6px 5px 12px 2px #e9e9e9;
        color: $primary-color-gray;
        transition: all 1s ease-in-out;

        h3 {
          font-size: 21px;
        }

        &:hover {
          background-image: linear-gradient(145deg, $primary-color, $primary-colors, $secondary-colors);

          h3 {

            color: $primary-lingh-color;
          }

          p {
            color: $primary-lingh-color;
          }
        }

        i {
          img {
            width: 45px;
            height: 45px;
            margin-bottom: 20px;
          }
        }

        p {
          font-size: 14px;
        }
      }
    }

    .title {
      position: relative;
      margin: 0;
      color: $primary-lingh-color;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 25px 0;
      margin-bottom: 35px;

      span {
        font-weight: 400;
        display: block;
        text-transform: uppercase;
        font-size: 21px;

        @include media(lg) {
          width: 200px;
        }
      }

      strong {
        font-weight: 900;
        display: block;

        @include media(lg) {
          width: 200px;
        }
      }

      @include media(lg) {
        font-size: 31px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/bg/bg-marketing.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        border-start-end-radius: 45px;
        border-bottom-right-radius: 45px;

        @include media(lg) {
          height: 100vh;
        }
      }
    }
  }
}