$primary-color: #d8506a;

// Color
$primary-colors: #d8506a;
$primary-color-dark: #98394d;

$secondary-colors: #945294;
$secondary-colors-dark: #55315a;

$tertiary-colors: #53b8da;
$tertiary-colors-dark: #2f6f7b;

$quaternary-colos:#1f417a;
$quaternary-colos:#1b2842;

$quaternary-colos: #b5c953;
$quaternary-colos: #748338;

$secondary-lingh-color: #fdfeff;
$primary-lingh-color: #FFF;

$primary-color-gray: #a6a6a6;

$danger: #d62b2b;
// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$font-family: 'Gantari', sans-serif;
