.localeSwitcher {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  .btnCode {
    background: transparent;
    border: none;
    cursor: pointer;
    span {
      text-transform: uppercase !important;
    }
    &.active {
      span {
        font-weight: bold;
      }
    }
  }
}
