.hero {
  padding: 40px 0;
  overflow: hidden;
  @include media(lg) {
    padding-top: 0;
    overflow: initial;
  }

  .grid {
    @include media(lg) {
      display: grid;
      gap: 126px;
      grid-template-columns: 1fr 1.2fr;
      grid-auto-rows: 350px;
      gap: 40px;
      align-items: center;
    }

    @include media(xxl){
      grid-template-rows: calc(100% - 150px);
    }
  }

  .areaTitle {
    h1 {
      color: $primary-lingh-color;
      font-size: 3.6rem;
      line-height: 4rem;
      font-family: $font-family;
      font-weight: 400;

      @include media(md) {
        font-size: 4.6rem;
        line-height: 5rem;
      }

      @include media(xxl) {
        font-size: 5.4rem;
        line-height: 6rem;
      }
      strong {
        font-weight: 900;
      }
    }
  }

  .atroposillustration {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .atropos{
    transform: scale(1.2) translate(21px, 10px);
    overflow: hidden;

    @include media(lg) {
      transform: initial;
    }
  }
  .illustration {
    position: relative;
    top: 25%;

    .megaphone {
      position: absolute;
      top: 50px;
      width: 141px;
      z-index: 1;
      left: -8px;
      @include media(lg) {
        width: 200px;
      }
    }

    .graphics {
      padding-top: 90px;
      display: block;
      margin-left: auto;
      width: 100%;
    }

    .calendar {
      position: absolute;
      padding: 0px;
      bottom:0;
      width: 100px;

      @include media(lg) {
        width: 200px;

      }
    }
  }
}