#ideia {
  @include media(xl) {
    left: 20%;
    top: -5%;
  }
}

#pesquisa {
  @include media(xl) {
    right: 0;
    top: 5%;
  }

}

#planejamento {
  @include media(xl) {
    left: 33%;
    top: 30%;
  }
  @include media(xxl) {
    left: 35%;
    top: 40%;
  }
}

#execucao {
  @include media(xl) {
    bottom: 5%;
    left: 10%;
  }
}

#analise {
  @include media(xl) {
    bottom: -10%;
    right: 0%;
  }
}