#ideia {
  @include media(xl) {
    left: 10%;
    top: -5%;
  }
}

#pesquisa {
  @include media(xl) {
    right: 0;
    bottom: 39%;
  }

}

#planejamento {
  @include media(xl) {
    left: 33%;
    top: 30%;
  }
  @include media(xxl) {
    left: 36%;
    top: -20%;
  }
}

#execucao {
  @include media(xl) {
    bottom: -45%;
    left: 10%;
  }
}

#analise {
  @include media(xl) {
    bottom: -50%;
    right: 0%;
  }
}