.circulo .cls-1 {
  fill: #3b7fab;
}

.circulo .cls-2,
.circulo .cls-3,
.circulo .cls-4 {
  isolation: isolate;
}

.circulo .cls-5 {
  fill: #2f6294;
}

.circulo .cls-6 {
  fill: #479bc3;
}

.circulo .cls-7 {
  fill: #53b8da;
}

.circulo .cls-8 {
  fill: #23457d;
}

.circulo .cls-3 {
  font-size: 21px;
}

.circulo .cls-3,
.circulo .cls-4 {
  fill: #fff;
  font-family: Arial-BoldMT, Arial;
  font-weight: 700;
}

.circulo .cls-4 {
  font-size: 30px;
}

